.register-house-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 90%;
  // overflow: scroll;
  // overflow-x: hidden;
  // border: 1px solid red;
}

.loader {
  position: absolute;
  top: 35%;
  left: 45%;
  height: 100%;
  width: 100%;
  z-index: 1300;
  transform: translate(-50%, 50%);

  .threeDots {
    height: 100%;
    width: 100%;
    z-index: 999;
  }
}

.register-house,
.house-list {
  width: 48%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: max-content;
}
.add-floor-btn {
  margin-left: 10px;
  background-color: #4fa94d; /* Change to your preferred color */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #3e8e41; /* Darker shade on hover */
  }
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color: black;
    border: 1px solid #ccc;
  }
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4fa94d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #3e8e3d;
  }
}

.house-list {
  margin-bottom: 40px;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  .house-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .house-icon {
      font-size: 2rem;
      margin-right: 10px;
    }

    .house-details {
      p {
        margin: 0;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    button {
      margin: 0 5px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.house-name-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1000;

  h3 {
    margin-top: 0;
  }

  .house-name-options {
    display: flex;
    flex-wrap: wrap;

    button {
      background-color: #4fa94d;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      margin: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.registered {
        background-color: #ccc;
        cursor: not-allowed;
      }

      &:hover:not(.registered) {
        background-color: #3e8e3d;
      }
    }
  }

  .closeHousePopupBtn {
    display: block;
    // margin: 10px auto 0 auto;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #d32f2f;
    }
  }
}

// Styling for the add floor popup container
.add-floor-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;

  h3 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    color: #333;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #4fa94d;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4fa94d;
    border: none;
    border-radius: 4px;
    color: white;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;

    &:hover {
      background-color: #3e8e3e;
    }
  }

  // Close button styling
  button:last-of-type {
    background-color: #d9534f;

    &:hover {
      background-color: #c9302c;
    }
  }
}

// Dim the background when the popup is open
.dimmed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/********************************************************************************/
// RegisterHouse.scss

.house-name-popup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width: max-content;
  background-color: #f9f9f9;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .popup-content {
    display: flex;
    width: 100%;
    max-width: max-content;
    background-color: #fff;
    border-radius: 10px;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;

    .left-card,
    .right-card {
      flex: 1;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      h2 {
        margin-bottom: 1rem;
        color: #333;
        font-size: 1.5rem;
      }
    }

    .left-card {
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;
      background-color: #f1f1f1;
      border-right: 1px solid #d31313;

      .form-group {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.5rem;
          color: #666;
          font-weight: bold;
        }

        input {
          padding: 0.8rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
          transition: border 0.3s;

          &:focus {
            border-color: #007bff;
            outline: none;
          }
        }
        .otherDepo {
          padding: 10px;
          margin: 3px;
          color: #3e8e3e;
          // border: 1px solid crimson;

          &:focus {
            border-color: olive;
            outline: none;
          }
        }
      }

      .other-deposit-form {
        display: flex;
        gap: 1rem;

        input {
          flex: 1;
        }
      }

      .proceed-btn {
        background-color: #007bff;
        color: white;
        padding: 0.8rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;

        &:hover {
          background-color: #9fbd1a;
        }
      }

      button {
        background: none;
        border: none;
        color: #007bff;
        cursor: pointer;
        text-align: left;
        font-size: 1rem;
        transition: color 0.3s;

        &:hover {
          color: #9fbd1a;
        }
      }
    }

    .right-card {
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;
      // border: 1px solid crimson;

      h2 {
        margin: 0;
        padding: 0;
        // border: 1px solid crimson;
      }
      .house-card {
        display: flex;
        align-items: center;
        padding: 0px 0.4rem;
        margin: 0.3rem 0.5rem;
        background-color: #f7f7f7;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .house-icon {
          font-size: 2rem;
          margin-right: 1rem;
        }

        .house-details {
          p {
            margin: 0;
            color: #333;

            strong {
              font-weight: bold;
            }
          }
        }
      }

      .pagination {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 1rem;

        button {
          background-color: #007bff;
          color: white;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
}
.house-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.house-action-buttons {
  display: flex;
  gap: 0.5rem; /* Space between buttons */

  .house-Edit,
  .house-Delete {
    background-color: #d9534f; // Bootstrap danger color
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c9302c; // Darker shade on hover
    }

    // Style for the disabled state
    &:disabled {
      background-color: #e0e0e0; // Gray background for disabled state
      color: #9e9e9e; // Lighter text color
      cursor: not-allowed; // Change cursor to indicate that it’s disabled
      opacity: 0.7; // Slightly faded appearance
      transition: none; // Disable transition for disabled state
    }
  }
}
.confirmation-buttons {
  display: flex;
  justify-content: space-around; // Space between buttons
}

.confirm-button {
  background-color: #d9534f; // Bootstrap danger color
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #c9302c; // Darker shade on hover
  }
}

.cancel-button {
  background-color: #f0ad4e; // Bootstrap warning color
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ec971f; // Darker shade on hover
  }
}

// Responsive Design
@media (max-width: 768px) {
  .register-house-popup {
    flex-direction: column;

    .popup-content {
      flex-direction: column;
    }
  }
}
